---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=<food_api_key>&query=sweet%20potato
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3542'
      X-Vcap-Request-Id:
      - 4af5261c-e531-49d7-62e5-8365ad6efd41
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":49083,"currentPage":1,"totalPages":982,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"query":"sweet
        potato","generalSearchInput":"sweet potato","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":50,"requireAllWords":false},"foods":[{"fdcId":477475,"description":"SWEET
        POTATO","lowercaseDescription":"sweet potato","dataType":"Branded","gtinUpc":"20042431","publishedDate":"2019-04-01","brandOwner":"FRESH
        & EASY","ingredients":"SWEET POTATO, CHIPOTLE CHICKEN {COOKED CHICKEN (CHICKEN
        BREAST WITH RIB MEAT, CHICKEN BROTH, CONTAINS LESS THAN 2% OF: MODIFIED POTATO
        STARCH, GARLIC POWDER, CANOLA OIL, SOYBEAN OIL, SALT, SODIUM PHOSPHATE, CHICKEN
        FAT, FLAVOR), CHIPOTLE MANGO SAUCE [MANGO CHIPOTLE MARINADE (MANGO PUREE,
        WATER, CHIPOTLE PEPPER, ONION, SALT, BROWN SUGAR, CANOLA OIL, VINEGAR, GARLIC,
        LEMON JUICE CONCENTRATE, TOMATO PASTE, SPICES, RICE WINE VINEGAR, SUGAR, CILANTRO,
        CITRIC ACID)], WATER, CILANTRO}, MANGO SALSA (MANGO, CUCUMBER, TOMATO, LIME
        JUICE, MANGO PUREE, ONION, CILANTRO, SERRANO PEPPERS, SALT).","marketCountry":"United
        States","foodCategory":"Other Deli","modifiedDate":"2018-01-20","dataSource":"LI","servingSizeUnit":"g","servingSize":312.0,"householdServingFullText":"1
        CONTAINER","tradeChannels":["NO_TRADE_CHANNEL"],"allHighlightFields":"<b>Ingredients</b>:
        <em>SWEET</em> <em>POTATO</em>, CHIPOTLE CHICKEN {COOKED CHICKEN (CHICKEN
        BREAST WITH RIB MEAT, CHICKEN BROTH","score":1244.9426,"microbes":[],"foodNutrients":[{"nutrientId":1087,"nutrientName":"Calcium,
        Ca","nutrientNumber":"301","unitName":"MG","derivationCode":"LCCD","derivationDescription":"Calculated
        from a daily value percentage per serving size measure","derivationId":75,"value":26.0,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":5300,"indentLevel":1,"foodNutrientId":3376467,"percentDailyValue":8},{"nutrientId":1089,"nutrientName":"Iron,
        Fe","nutrientNumber":"303","unitName":"MG","derivationCode":"LCCD","derivationDescription":"Calculated
        from a daily value percentage per serving size measure","derivationId":75,"value":0.58,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":5400,"indentLevel":1,"foodNutrientId":3376468,"percentDailyValue":10},{"nutrientId":1104,"nutrie[...]
[...]
