<div class="col">
  <table>
    <tr>
      <th>gtinUPC</th>
      <td><%= food[:gtinUpc] %></td>
    </tr>
    <tr>
      <th>description</th>
      <td><%= food[:description] %></td>
    </tr>
    <tr>
      <th>brandOwner</th>
      <td><%= food[:brandOwner] %></td>
    </tr>
    <tr>
      <th>ingredients</th>
      <td><%= food[:ingredients] %></td>
    </tr>
  </table>
</div>
